name: cargo-fmt-test-clippy
run-name: ${{ github.actor }} is building and testing the repo
on: [push]
jobs:
  fmt-test-clippy:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSSWORD: password
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1.4.4
      - run: cargo fmt -- --check
      - run: cargo clippy -- -D warnings
      - run: cargo test
