name: learn-github-actions
run-name: ${{ github.actor }} is learning Github learn-github-actions
on: [push]
jobs:
  check-clippy-version:
    runs-on: ubuntu-latest
    steps:
      -uses: actions/checkout@v3
      -uses: actions-rust-lang/setup-rust-toolchain@v1.4.4
      -run: cargo install clippy
      -run: cargo clippy --version

